// Here we are defining two variables to store some style information
$appWidth: 98vw;
$appHeight: 95vh;
$windowWidth: 85vw;
$windowHeight: 70vh;
$bgColor: black;
$navColor: white;
$fontNav: 'Roboto Mono';

:root {
  background-color: black;
  font-size: 16px;
  font-family: $fontNav;
  --transition-speed: 3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: blue;
}

#screen {
  margin: 10px;
  background-color: $navColor;
  color: $bgColor;
  width: $appWidth;
  height: $appHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#window {
  position: absolute;
  width: $windowWidth;
  height: $windowHeight;
  background-color: $bgColor;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: red;
  border-width: medium;

  iframe {
    width: $appWidth - 20vw;
    height: $appHeight - 35vh;
  }

  span {
    border-style: solid;
    border-color: white;
  }

  #errorMessage {
    color: $navColor;
    font-size: 15px;
  }
}

#Nav {
  width: $appWidth;
  height: $appHeight;
  background-color: $navColor;
  .nav {
    color: $bgColor;
    font-size: 30px;
  }
  .topNavLink .botNavLink .rightNav {
    display: flex;
    flex-direction: row;
  }
  .rightNavLink {
    font-size: 15px;
    margin: 5px;
  }
}

#topNav {
  position: fixed;
  width: $appWidth - 8vw;
  height: ($appHeight - $windowHeight) / 2.1;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}

#rightNav {
  position: fixed;
  top: ($appHeight - $windowHeight) / 1.7;
  left: $appWidth - 5.5vw;
  width: 6.2%;
  height: $windowHeight;
  visibility: hidden;
  text-align: center;
  #stationLabel {
    text-decoration: underline;
  }
  input, select, button {
    width: 100%;
  }
}

#botNav {
  position: fixed;
  top: $appHeight - 10vh;
  width: $appWidth - 8vw;
  height: ($appHeight - $windowHeight) / 2.1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;

  #radioLabel {
    display: flex;
    flex-direction: row;
  }

  #stationControls {
    display: flex;
    flex-direction: row-reverse;

    #prevStation:hover {
      cursor: pointer;
      width: 55px;
    }
    #stationNum:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    #nextStation:hover {
      cursor: pointer;
      width: 55px;
    }
  }
}
