// Here we are defining two variables to store some style information
$appWidth: 98vw;
$appHeight: 95vh;
$windowWidth: 85vw;
$windowHeight: 70vh;
$bgColor: black;
$navColor: white;
$fontNav: 'Roboto Mono';

:root {
  background-color: black;
  font-size: 16px;
  font-family: $fontNav;
  --transition-speed: 3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen {
  margin: 10px;
  background-color: $navColor;
  color: $bgColor;
  width: $appWidth;
  height: $appHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

#window {
  position: absolute;
  width: $windowWidth;
  height: $windowHeight;
  background-color: $bgColor;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: red;
  border-width: medium;

  iframe {
    width: $appWidth - 20vw;
    height: $appHeight - 35vh;
  }

  span {
    border-style: solid;
    border-color: white;
  }

  #errorMessage {
    color: $navColor;
    font-size: 15px;
  }
}

#Nav {
  width: $appWidth;
  height: $appHeight;
  background-color: $navColor;
  .nav {
    color: $bgColor;
    font-size: 30px;
  }
  .topNavLink .leftNavLink .rightNav .topNavLink {
    display: flex;
    flex-direction: row;
  }
  .rightNavLink {
    font-size: 16px;
  }
}

#topNav {
  position: fixed;
  width: $appWidth;
  height: ($appHeight - $windowHeight) / 2.1;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  #logo {
    position: fixed;
    left: 1.5em;
    top: (($appHeight - $windowHeight) / 2.1) / 2;
  }
}
#leftNav {
  position: fixed;
  top: ($appHeight - $windowHeight) / 1.7;
  width: 6.2%;
  height: $windowHeight;
}
#rightNav {
  position: fixed;
  top: ($appHeight - $windowHeight) / 1.7;
  left: $appWidth - 5.5vw;
  width: 6.2%;
  height: $windowHeight;
  visibility: hidden;
}
#botNav {
  position: fixed;
  top: $appHeight - 10vh;
  width: $appWidth;
  height: ($appHeight - $windowHeight) / 2.1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  #stationControls {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px;
    #prevStation:hover {
      cursor: pointer;
      width: 55px;
    }
    #stationNum:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    #nextStation:hover {
      cursor: pointer;
      width: 55px;
    }
  }
}
