<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>am_radio</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <script src="/assets/bundle.js"></script>
</head>
<body>
  <div id="topNav" class="nav">

  </div>

  <div id="leftNav" class="nav">
    <ul>
      <li><a href="/all" class="leftNavButts">All</a></li>
      <li><a href="/mine" class="leftNavButts">Mine</a></li>
      <li><a href="/station" class="leftNavButts">Station</a></li>
    </ul>
  </div>

  <div id="botNav" class="nav">
    <div id="audioControls"></div>
  </div>

  <div id="rightNav" class="nav">
    <div id="playlistCreator"></div>
  </div>

  <div id="window">
    <section id="signupContent"></section>
    <div id="playlists"></div>
  </div>
</body>
</html>
