:root {
  background-color: black;
  font-size: 16px;
  font-family: "Roboto Mono";
  --transition-speed: 3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

#screen {
  margin: 10px;
  background-color: white;
  color: black;
  width: 98vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#window {
  position: absolute;
  width: 85vw;
  height: 70vh;
  background-color: black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: red;
  border-width: medium; }
  #window iframe {
    width: 78vw;
    height: 60vh; }
  #window span {
    border-style: solid;
    border-color: white; }
  #window #errorMessage {
    color: white;
    font-size: 15px; }

#Nav {
  width: 98vw;
  height: 95vh;
  background-color: white; }
  #Nav .nav {
    color: black;
    font-size: 30px; }
  #Nav .topNavLink .leftNavLink .rightNav .topNavLink {
    display: flex;
    flex-direction: row; }
  #Nav .rightNavLink {
    font-size: 16px; }

#topNav {
  position: fixed;
  width: 98vw;
  height: 11.90476vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center; }
  #topNav #logo {
    position: fixed;
    left: 1.5em;
    top: 5.95238vh; }

#leftNav {
  position: fixed;
  top: 14.70588vh;
  width: 6.2%;
  height: 70vh; }

#rightNav {
  position: fixed;
  top: 14.70588vh;
  left: 92.5vw;
  width: 6.2%;
  height: 70vh;
  visibility: hidden; }

#botNav {
  position: fixed;
  top: 85vh;
  width: 98vw;
  height: 11.90476vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  #botNav #stationControls {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px; }
    #botNav #stationControls #prevStation:hover {
      cursor: pointer;
      width: 55px; }
    #botNav #stationControls #stationNum:hover {
      cursor: pointer;
      text-decoration: underline; }
    #botNav #stationControls #nextStation:hover {
      cursor: pointer;
      width: 55px; }
