:root {
  background-color: black;
  font-size: 16px;
  font-family: "Roboto Mono";
  --transition-speed: 3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

/* unvisited link */
a:link {
  color: red; }

/* visited link */
a:visited {
  color: red; }

/* mouse over link */
a:hover {
  color: orange; }

/* selected link */
a:active {
  color: blue; }

#screen {
  margin: 10px;
  background-color: white;
  color: black;
  width: 98vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#loginButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; }

#window {
  position: absolute;
  width: 85vw;
  height: 70vh;
  background-color: black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: red;
  border-width: medium; }
  #window iframe {
    width: 78vw;
    height: 60vh; }
  #window span {
    border-style: solid;
    border-color: white; }
  #window #errorMessage {
    color: white;
    font-size: 15px; }

#Nav {
  width: 98vw;
  height: 95vh;
  background-color: white; }
  #Nav .nav {
    color: black;
    font-size: 30px; }
  #Nav .topNavLink .botNavLink .rightNav {
    display: flex;
    flex-direction: row; }
  #Nav .rightNavLink {
    font-size: 15px;
    margin: 5px; }

#topNav {
  position: fixed;
  width: 90vw;
  height: 11.90476vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px; }

#rightNav {
  position: fixed;
  top: 14.70588vh;
  left: 92.5vw;
  width: 6.2%;
  height: 70vh;
  visibility: hidden;
  text-align: center; }
  #rightNav #stationLabel {
    text-decoration: underline; }
  #rightNav input, #rightNav select, #rightNav button {
    width: 100%; }

#botNav {
  position: fixed;
  top: 85vh;
  width: 90vw;
  height: 11.90476vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px; }
  #botNav #radioLabel {
    display: flex;
    flex-direction: row; }
  #botNav #stationControls {
    display: flex;
    flex-direction: row-reverse; }
    #botNav #stationControls #prevStation:hover {
      cursor: pointer;
      width: 55px; }
    #botNav #stationControls #stationNum:hover {
      cursor: pointer;
      text-decoration: underline; }
    #botNav #stationControls #nextStation:hover {
      cursor: pointer;
      width: 55px; }
